body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial,
		Helvetica, sans-serif;
	font-size: 12px;
}

.registration_form {
	margin: 0 auto;
	width: 500px;
	padding: 14px;
}

label {
	width: 10em;
	float: left;
	margin-right: 0.5em;
	display: block
}

.submit {
	float: right;
}

fieldset {
	background: #EBF4FB none repeat scroll 0 0;
	border: 2px solid #B7DDF2;
	width: 500px;
}

legend {
	color: #fff;
	background: #80D3E2;
	border: 1px solid #781351;
	padding: 2px 6px
}

.elements {
	padding: 10px;
}

p {
	border-bottom: 1px solid #B7DDF2;
	color: #666666;
	font-size: 11px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

a {
	color: #0099FF;
	font-weight: bold;
}

/* Box Style */
.success,.warning,.errormsgbox,.validation {
	border: 1px solid;
	margin: 0 auto;
	padding: 10px 5px 10px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-weight: bold;
	width: 450px;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('images/success.png');
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('images/warning.png');
}

.errormsgbox {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('images/error.png');
}

.validation {
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('images/error.png');
}